# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environment
venv/
.venv/
env/
*.egg-info/

# Large archive files
*.zip

# MLflow (for research branch, optional)
mlruns/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Generated Video Outputs
*.mp4
